<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rececionista</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div style="display: flex; height: 100vh;">
    <div class="sidebar">
        <img th:src="@{/images/FisioLife.png}" alt="Logo"/>

        <a th:href="@{/rececionista/registar-consulta}">
            <button class="sidebar-button">Registar Consulta</button>
        </a>

        <a th:href="@{/rececionista/editar-consulta}">
            <button class="sidebar-button">Editar Consulta</button>
        </a>

        <a th:href="@{/rececionista/listar-consultas}">
            <button class="sidebar-button">Listar Consultas</button>
        </a>

        <a th:href="@{/rececionista/logout-rececionista}">
            <button class="logout-button">Terminar Sessão</button>
        </a>
    </div>

    <div class="main-content">
        <div class="main-title">Bem-vindo(a), Rececionista!</div>
        <p>Gerencie facilmente as consultas da clínica.</p>
        <p>Use o menu lateral para registar, editar ou listar consultas.</p>
    </div>
</div>
</body>
</html>
