<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fisioterapeuta</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div style="display: flex; height: 100vh;">
    <div class="sidebar">
        <img th:src="@{/images/FisioLife.png}" alt="Logo"/>

        <a th:href="@{/fisioterapeuta/minhas-consultas}">
            <button class="sidebar-button">Minhas consultas</button>
        </a>

        <a th:href="@{/fisioterapeuta/alterar-estado}">
            <button class="sidebar-button">Alterar Estado</button>
        </a>

        <a th:href="@{/logout-fisio}">
            <button class="logout-button">Terminar Sessão</button>
        </a>
    </div>

    <div class="main-content">
        <div class="main-title">Bem-vindo(a), Fisioterapeuta!</div>
        <p>Aqui você pode listar e alterar as suas consultas.</p>
        <p>Use o menu lateral para listar ou alterar consultas.</p>
    </div>
</div>
</body>
</html>
